[submodule "ohmyzsh"]
	path = ohmyzsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "fonts/powerline"]
	path = fonts/powerline
	url = https://github.com/powerline/fonts
